* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.welcomeheaderdiv {
  margin-top: 1%;
  width: fit-content;
  margin-left: 10%;
}

.postformdiv {
  text-align: center;
  width: fit-content;
  margin-left: 27%;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
}
#leftThing {
  width: 19%;
  /*background-color: blue;*/
}
#content {
  width: 61%;
  justify-content: center;
  /*background-color: green;*/
}
#rightThing {
  width: 20%;
  /*background-color: yellow;*/
}
