.userpostlistparent {
  list-style: none;
}

.userpostlistdiv {
  width: 600px;
  height: 195px;
  margin-left: 18%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 12px;
}

.userpostlistchilddiv1 {
  background-color: rgb(182, 182, 182);
  height: 26%;
  border-bottom: solid 1px;
}
.userpostlistchilddiv1header {
  padding-top: 10px;
}

.userpostlistchilddiv1id {
  color: black;
  padding-left: 475px;
  font-size: 10px;
}
.userpostlistchilddiv2 {
  /*background-color:cyan;*/
  height: 49%;
  word-wrap: break-word;
}
.profilediv2userpost {
  /*color:red;*/
  padding: 10px;
}

.profilepostlistchilddiv3 {
  /*background-color: yellow;*/
  height: 25%;
}
.likebtn {
  width: 50%;
  height: 50px;
}
.dislikebtn {
  width: 50%;
  height: 50px;
}
